@use "../../variables.scss" as *;
@use "sass:map";

.chip{
  //position of the image in the chip
  display: flex;
  align-items: center;
  justify-content: center;

  //Position of the Chip on the tile
  position: absolute;
  top: 15px;
  left: 15px;

  //Chip style
  background-color: $primary-color;
  border-radius: 50%;
  box-shadow: 1px 3px 0 black;
  outline: 2px solid black;
  width: 60px;
  height: 60px;

  img{
    border-radius: 10px;
    width: 50px;
    height: 50px;
  }

  @media screen and (max-height: map.get($breakpoints, m)), (max-width: map.get($breakpoints, m)) {
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;

    img{
      width: 40px;
      height: 40px;
    }
  }
}

@media screen and (max-height: map.get($breakpoints, s)), (max-width: map.get($breakpoints, s)){
  .chip{
    top: 8px;
    left: 8px;
    width: 45px;
    height: 45px;

    img{
      width: 35px;
      max-height: 35px;
    }
  }
}
