.tomato, .tomatoSplatter {
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
}
.tomato{
  background-image: url('../../../../assets/imgs/tomato.png');
  animation: throwTomato 0.5s linear;
}
.tomatoSplatter{
  background-image: url('../../../../assets/imgs/tomato-splat.png');
}
.fadeAway{
  opacity: 0;
  transition: opacity 0.5s linear;
}

@keyframes throwTomato {
   0% {
    left: 100%;
  }
  50%{
    width: 100px;
  }
  100% {
    width: 50px;
    transform: rotateZ(760deg);
  }
}
