@import '../../../../variables.scss';

.background{//background overlay
  display: flex;
  align-items: center;
  justify-content: center;

  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000ab;
  z-index: 1;

  .instructions{
    background-color: $secondary-color;
    border-radius: 5px;
    color: $secondary-text;
    padding: 20px;
    outline: 1px solid black;
    max-width: 300px;

    position: relative; //for the close button

    animation: slideIn 0.5s ease-in-out;

    .close {
      color: $secondary-text;
      position: absolute;
      top: 0;
      right: 10px;
      padding: 5px;
      font-size: x-large;
      cursor: pointer;

      &:hover {
        color: $highlight-color;
      }
    }

    p{
        margin-bottom: 10px;
    }
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
