@use '../../variables.scss' as *;
@use 'sass:math';

*{
  padding: 0;
  margin: 0;
}
body{
  overflow: hidden;
}

.app{
  display: flex;
  align-items: center;
  font-family: $font-family;

  height: 100vh;
  width: 100vw;
}

.countDownTimer{
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 1.5rem;
}

.cursorHidden{
  cursor: none;
}
