$primary-color: #b67807;
$secondary-color: white;
$accent-color: #bbbbbb;

$primary-text: white;
$secondary-text: black;

$highlight-color: #ffd900;
$watermark-color: #ffffff;
$pseudo-black: #2c2c2c;

$font-family: 'Arial', sans-serif;

$breakpoints: (
  m: 600px,
  s: 500px,
  xs: 400px
)
