@import '../../../variables.scss';

.closed{//overlay position when closed
  left: -545px;
}
.open{//overlay position when opened
  left: 0;
  .openExtensionButton::after{
    transform: rotate(90deg) !important;
  }
}
.overlay{
  display: flex;
  align-items: center;

  //positioning the overlay
  position: absolute;
  transition: 0.2s ease-in-out ;

  color: $primary-text;
  font-family: $font-family;

  main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; // for the instructions overlay
    overflow: hidden;// for the instructions overlay
    gap: 10px;

    background-color: $primary-color;
    border: 2px solid black;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 2px 4px black;
    padding: 20px;

    .title{
      display: flex;
      align-items: center;
      gap: 10px;

      .help{
        font-size: 1rem;
        background-color: $sudo-black;
        border-radius: 50%;
        border: 1px solid black;
        text-align: center;

        height: 22px;
        width: 22px;

        &:hover, &:focus{
          border-color: white;
          cursor: pointer;
        }
      }
    }

    .newGameButton{
      padding: 5px;
      background-color: $secondary-color;
      color: $secondary-text;
      font-weight: bold;
    }

    .credits{
      position: absolute;
      bottom: 5px;
      left: 5px;
      color: $watermark-color;
      font-size: 0.65rem;
    }
  }

  .openExtensionButton{
    border-radius: 0 5px 5px 0;
    background-color: $primary-color;
    box-shadow: 0 2px 4px black;
    position: relative;
    transition: width 0.1s ease-in-out ;

    height: 200px;
    width: 15px;

    &:hover{
      width: 25px;
    }
    &::after{ //arrow
      content: '';
      position: absolute;
      transform: rotate(-90deg);
      top: 50%;
      right: calc(50% - 14px);

      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 10px solid black;
    }
  }
}
button{
  all: unset;

  border: 1px solid black;

  &:hover, &:focus{
    cursor: pointer;
  }
}
